* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, ol {
	padding-left: 0;
}
li {
	list-style: none;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.section-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 2.3px;
}
.block-title {
	font-family: 'Open Sans';
	font-size: 11px;
	line-height: 13px;
	text-align: left;
	letter-spacing: 0.846154px;
	text-transform: uppercase;
}
.text {
	font-family: OpenSans;
	font-size: 13px;
	line-height: 23px;	/* or 177% */
	letter-spacing: 0.1875px;
	color: #48555B;
}
.btn {
	display: inline-block;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	padding: 11px 0;
	min-width: 150px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	background: #00A4E5;
}


/* variables */
@text-color: #48555B;
@main-color: #00A4E5;
@background-main: #171819;


.intro {
	color: #FFFFFF;
	&__screen {
		padding-top: 42px;
		padding-bottom: 71px;
		background: url(../img/building-bg.jpg) @background-main;
		background-size: cover;
		background-position: center;
		text-align: center;
		// height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
  &__logo-link {
    
  }
  &__logo {
    
  }
  &__title {
		font-family: BebasNeueBold;
		font-size: 60px;
		line-height: 70px;
		letter-spacing: 5.70937px;
  }
  &__subtitle {
    font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
  }
  &__btn {
    font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		letter-spacing: 3.7px;
		color: #FFFFFF;
  }
}


.topbar {
	border-bottom: 1px solid #E6E6E6;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-link {
		font-size: 0;
	}

	&__logo {

	}

	&__nav {
	}

	&__list {
		display: flex;

	}

	&__item {

	}

	&__link	{
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: flex-end;
		text-align: center;
		letter-spacing: 1.09091px;
		color: @text-color;
	}
}



.story {
	&__title {

	}
	&__wrapper {
		display: flex;
	}
	&__content {
	}
	&__theme {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: 0.1875px;
		color: @text-color;
		& span {
			color: #00A4E5;
		}
	}
	&__text {

	}
	&__gallery {
		display: flex;
		margin: 0 -10px;
		&-item {
			margin: 0 10px;
			width: 140px;
			height: 224px;
			padding: 15px 14px;
			&--plan {
				background: url(../img/plan.jpg);
			}
			&--manage {
				background: url(../img/manage.jpg);
			}
			&--build {
				background: url(../img/build.jpg);
			}
		}
		&-text {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 800;
			font-size: 24px;
			line-height: 29px;		/* or 121% */
			letter-spacing: 0.1875px;
			color: #FFFFFF;
		}
	}
}



.capabilities {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__tetle {

	}

	&__slogan {
		max-width: 405px;
		font-family: 'Open Sans';
		font-size: 11px;
		line-height: 19px;
		letter-spacing: 0.2px;
		color: #48555B;
	}

	&__btn {
	}

	&__slider {
		display: flex;
		justify-content: space-between;
	}

	&__card {
		text-align: center;
		border: 1px solid #E6E6E6;
		max-width: 295px;
	}

	&__card-icon {

	}

	&__card-title {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.426667px;
		color: #48555B;
	}

	&__card-text {

	}
}


.offer {
	padding: 120px 0 230px;
	text-align: center;
	background: url(../img/city-bg.jpg);
	background-size: cover;
	background-position: bottom;
	&__title {
		margin: 0 auto;
		max-width: 350px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;		/* or 120% */
		letter-spacing: 0.15px;
		text-align: center;
		color: #48555B;
		margin-bottom: 35px;
	}
	&__link {

	}
}



.newsletter {
	background: @background-main;
	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 30px 0;
	}
	&__appeal {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 0.846154px;
		color: #FFFFFF;
	}
	&__form {
		font-size: 0;
	}
	&__input {
		width: 250px;
		border: 1px solid #979797;
		height: 40px;
		line-height: 40;
	}

	&__btn {
		width: 150px;
		border: none;
	}
}



.footer {
	background: #141A20;
	color: #fff;
	&__wrapper {
		display: flex;
	}
}

.company {
	flex: 0 0 33%;
	&__title {

	}

	&__logo-link {

	}

	&__logo {

	}

	&__text {
		max-width: 250px;
		font-family: 'Open Sans';
		font-size: 11px;
		line-height: 19px;		/* or 173% */
		letter-spacing: 0.85px;
	}
}



.links {
	flex: 0 0 33%;
	&__title {
	}

	&__wrapper {
		display: flex;
	}

	&__group {
		
	}

	&__list {
		
	}

	&__item {
		
	}

	&__link {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 25px; /* or 227% */
		letter-spacing: 0.846154px;
	}
}



.contact {
	flex: 0 0 33%;
	&__title {
		
	}

	&__wrapper {
		display: flex;
	}

	&__data {
		max-width: 140px;
		font-family: OpenSans;
		font-size: 11px;
		line-height: 16px; /* or 145% */
		letter-spacing: 0.846154px;
	}

	&__adress {
		
	}

	&__telephone {
		
	}

	&__website {
		
	}

	&__social {
		font-size: 0;
	}

	&__social-icon {
	}
}



